<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDTzOzJCTsGZBEriGQEOtU9218lenRT02I</string>
	<key>GCM_SENDER_ID</key>
	<string>1025525101614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.manfathak</string>
	<key>PROJECT_ID</key>
	<string>qiqa-c17c2</string>
	<key>STORAGE_BUCKET</key>
	<string>qiqa-c17c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025525101614:ios:08c4c874f05d1713cfdbbf</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1025525101614-08c4c874f05d1713cfdbbf</string>
</dict>
</plist>